:root {
    --bg-color: #3E362E;
    --font-color: #ffffff;
    --font-header: 'Abril Fatface', sans-serif;
    --font-body: 'Days One', sans-serif;
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/front-end/images/homepagebg.png);
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.main-container {
    padding: 25px;
}
.about-content, .mission-vision {
    color: var(--font-color);
    width: 100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
     margin-bottom: 20px;
}
.logo-header {
    padding: 5%;
    width: 100%;
    margin: 10px 0;
}
.logo img {
    width: 100%;
    max-width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.sub-description, .moto {
    text-transform: uppercase;
    text-align: center;
}
.sub-description {
    font-family: var(--font-body);
    font-size: 1rem;
}
.moto {
    font-family: var(--font-header);
    font-size: 1.3rem;
}
.social-icon {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.icon {
    color: var(--font-color);
    padding: 0 15px;
}
.about {
    padding: 10px;
    width: 100%;
}
.about h1 {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: var(--font-header);
    font-size: 55px;
}
.about-quotes {
    padding: 10px;
    font-family: var(--font-body);
    text-align: center;
}
.mission h1, .vision h1 {
    text-align: center;
    font-family: var(--font-header);
    font-size: 45px;
    padding: 10px;
}
.mission, .vision {
    font-family: var(--font-body);
    text-align: center;
    padding: 10px;
    margin: 0 0 30px 0;
}
.classifier {
    color: var(--font-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
    text-align: center;
}
.medium, .genre, .interpret {
    font-family: var(--font-header);
    font-size: 15px;
    padding: 15px;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;

}
.medium-content, .genre-content {
    font-family: var(--font-body);
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 100px;
}
.medium-content {
    margin-bottom: 125px;
}
.interpret-content {
    font-family: var(--font-body);
    font-size: 1.2rem;
    padding: 40px 15px;
    margin-bottom: 5px;
}
.btn {
    background-color: #ffffff;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px 0;
}
.btn a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #865D36;
    font-weight:900;
}
.btn a:hover {
    color: var(--font-body);
}
.btn:hover {
    background-color: var(--bg-color);
    cursor: pointer;
}
.horizontal-line {
    margin: 15px 0;
}
.vertical-line1, .vertical-line2 {
    border: 2px solid var(--font-color);
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line1 {
    top: 100px;
}

.vertical-line2 {
    top: 32%;
    height: 225px;
}
@media (max-width: 868px) {
    .about-content, .mission-vision, .classifier {
        grid-template-columns: 1fr;
    }
    .vertical-line1, .vertical-line2 {
        border: none;
        border-top: 2px solid var(--font-color);
        width: 90%;
        height: 0;
        margin: 0 auto;
        position: relative;
        left: 0;
        transform: none;
    }
    .vertical-line1 {
        top: 0;
    }
    .vertical-line2 {
        top: 0;
        /* margin-top: 0; */
    }
    .logo img {
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }
    .about {
        padding: 0;
        margin: 0 0 30px 0;
    }
    .mission {
        margin: 10px 0 0 0;
    }
    .vision {
        margin: 0 0 30px 0;
    }
    .btn {
        width: 60%;
        margin: 10px auto;
    }
    .medium, .genre, .interpret {
        margin: 10px 0;
    }
    .medium-content, .genre-content, .interpret-content {
        padding: 20px 10px;
        margin-bottom: 10px;
    }
}