<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClevArt</title>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/front-end/CSS/dashboard.css">
</head>
<body>
    {%include 'nav-bar.html' %}
    <div class="main-container">
        <!-- HEADER AND ABOUT SECTION -->
        <div class="about-content">
            <div class="logo-header">
                <span class="logo"><img src="/front-end/images/ClevArt_logos.png" alt="ClevArt_logos"></span>
                <p class="sub-description">An Art Classification System</p>
                <p class="moto">"Where Creativity Meets Intelligence"</p>
                <div class="social-icon">
                    <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
            <hr class="vertical-line1">
            <div class="about">
                <h1>About</h1>
                <div class="about-quotes">
                    Clevart, where creativity meets intelligence. Provides the essential needs of the user using our system that will enable us 
                    to classify the specific medium art and also it will interpret the image having an explanation to understand behind the 
                    meaning of the artwork. Additionally we add some features that will classify the specific genre of the art 
                    (e.g., abstract, impressionism, renaissance, portrait and landscape).
                </div>
            </div>
        </div>
        <!-- END OF HEADER AND ABOUT SECTION -->
        <hr class="horizontal-line">
        <!-- MISSION AND VISION SECTION -->
        <div class="mission-vision">
            <div class="mission">
                <h1>Mission</h1>
                <div class="mission-sentence">
                    To give access to art appreciation and understanding by providing a user-friendly platform that utilizes cutting-edge 
                    technology to accurately identify art genre, medium, and interpretation, fostering a deeper connection between individuals 
                    and the world of art.
                </div>
            </div>
            <hr class="vertical-line2">
            <div class="vision">
                <h1>Vision</h1>
                <div class="vision-sentence">
                    3D developers envision a world where everyone, regardless of their background  or expertise, can confidently engage with 
                    art in all its forms. Through our innovative scanning technology, we aim to empower individuals to explore, learn, and 
                    appreciate art in a meaningful way, enriching their cultural experiences and broadening their perspectives. We aspire to be 
                    the premier destination for art enthusiasts, educators, and curious minds alike, fostering a community that celebrates the 
                    diversity and beauty of artistic expression.
                </div>
            </div>
        </div>
        <!-- END OF MISSION AND VISION SECTION -->
        <hr class="horizontal-line">
        <!-- CLASSIFIER SECTION -->
        <div class="classifier">
            <div class="medium">
                <h1>Medium Classifier</h1>
                <div class="medium-content">
                    Delve into a journey where every brushstroke tells a story, as our AI meticulously identifies and categorizes the mediums 
                    used by renowned artists. From oil masterpieces to watercolor wonders, embark on a visual exploration that unveils the 
                    essence of each painting. Let technology illuminate the craftsmanship and diversity of painting mediums, enriching your 
                    appreciation of art like never before.
                </div>
                <div class="btn">
                    <a href="/mediumClassification.html">Get Started!</a>
                </div>
            </div>
            <div class="genre">
                <h1>Genre Classifier</h1>
                <div class="genre-content">
                    Prepare to discover the genre that defines the artwork. Whether it's cubism, impressionism, abstract, expressionism, 
                    portrait, and etc, our system is designed to accurately classify and categorize art styles. Unveil the essence of each 
                    painting as our AI illuminates the stylistic choices. Embark on a journey through art history and appreciation, guided by 
                    the precision and insight of modern technology.
                </div>
                <div class="btn">
                    <a href="/genreClassification.html">Get Started!</a>
                </div>
            </div>
            <div class="interpret">
                <h1>Art Innterpretation</h1>
                <div class="interpret-content">
                    Get ready to uncover a deeper understanding of the artwork before you! Our system not only identifies the painting's 
                    medium but also offers insightful interpretations, unraveling its themes, emotions, and artistic techniques. Gain new 
                    perspectives and enrich your artistic journey as our AI sheds light on the nuances and narratives embedded within each 
                    masterpiece. Explore art with newfound clarity and appreciation, guided by cutting-edge technology at your fingertips.
                </div>
                <div class="btn">
                    <a href="/interpretClassification.html">Get Started!</a>
                </div>
            </div>
        </div>
        <!-- END OF CLASSIFIER SECTION -->
    </div>
    {%include 'footer.html' %}
</body>
</html>