<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" href="front-end/CSS/classification.css">
</head>
<body>
    {%include 'nav-bar.html'%}
    <h1>Medium Classification</h1>
    <form action="/predict_medium" method="post" enctype="multipart/form-data" class="upload-container">
        <input type="file" name="image" accept="image/*" id="imageInput">
        <div class="button-container">
            <button type="submit" onclick="submit()">Scan</button>
            <button type="button" onclick="clearImage()">Clear</button>
        </div>
    </form>
    {% if prediction %}
        <h2>Prediction: </h2> <h3> {{ prediction }}</h3>
        <h4>Class Probalities:</h4>
        {% for class_name, probability in class_probability %}
            <div class="progress-bar">
                <div class="progress">{{ class_name }} - {{ probability }}%</div>
            </div>
        {% endfor %}
    {% endif %}


    <script src="front-end/JS/classification.css"></script>
</body>
</html>